{% extends 'academy/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="mx-auto">
  <h1 class="text-center">Create your account</h1>
</div>
<div class="album py-5 bg-light">
    <div class="container">
      <span>{{ error }}</span>
      <form method="post" class="form-signin">
        {% csrf_token %}
        {{ form.username }}<br>
        {{ form.password }}<br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
      </form>
    </div>
  </div>
{% endblock %}